@{
    ViewBag.Title = "Contact";
}
<h2>Контакты</h2>
<h3>Мурзин Андрей</h3>

<address>
    <strong>Тел:</strong> 8-904-306606<br />
    <strong>Email:</strong> <a href="mailto:andreu_mail@mail.ru">andreu_mail@mail.ru</a>
</address>